* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

#inicio {
  text-align: center;
  background-color: #ffffbc;
  margin-bottom: 5px; }

.logo {
  width: 50%;
  height: 50%;
  padding: 30px 0; }

.botones {
  display: flex;
  justify-content: space-around; }

.botones2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px; }

.btn-inicio, .btn-nos, .btn-eco, .btn-tips, .btn-recetas, .btn-productos, .btn-contacto {
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 1s; }

.btn-inicio {
  background-color: #bec5df; }

.btn-nos {
  background-color: #D1B197; }

.btn-eco {
  background-color: #CDA295; }

.btn-tips {
  background-color: #B38C67; }

.btn-recetas {
  background-color: #ADBEA9; }

.btn-productos {
  background-color: #635B59; }

.btn-contacto {
  background-color: #788B84; }

.btn-inicio:hover, .btn-nos:hover, .btn-eco:hover, .btn-tips:hover, .btn-recetas:hover, .btn-productos:hover, .btn-contacto:hover {
  color: #3f3f3f;
  width: 120px;
  height: 120px;
  font-size: 20px; }

.search-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 1000px;
  padding-right: 10px; }

h2 {
  text-align: left;
  font-size: 40px;
  background-color: #635B59;
  color: white;
  padding: 30px 40px;
  margin-bottom: 5px; }

.sellos {
  width: 25%;
  height: 25%;
  transition: all 1s;
  position: relative;
  left: 50%; }
  .sellos:hover {
    transform: scale(1.5); }

.img-prod {
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  min-height: 250px;
  min-width: 250px; }

.acces-ini, .aroma-ini, .capilar-ini {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  padding: 30px 0;
  margin-bottom: 5px; }

.acces-ini {
  background-color: #8d8381; }

.aroma-ini {
  background-color: #635B59; }

.capilar-ini {
  background-color: #8d8381; }

.subg-prod {
  font-size: 30px;
  color: white;
  text-decoration: none;
  transition: all 1s; }
  .subg-prod:hover {
    color: black; }

.btn-mas {
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 40px;
  color: black;
  transition: all 1s; }
  .btn-mas:hover {
    color: white;
    background-color: black; }

#quien-soy {
  text-align: center;
  background-color: #D1B197;
  color: white;
  font-size: 25px;
  padding: 30px 20px;
  line-height: 50px; }
  #quien-soy .encQs {
    text-align: center;
    font-size: 50px;
    padding: 40px 0; }

#contacto {
  background-color: #788B84;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contacto {
  padding: 40px 0;
  font-size: 40px;
  text-align: left; }

.images-small {
  width: 3.5%;
  height: 3.5%; }

.autor {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  transition: all 1s; }
  .autor:hover {
    color: white;
    background-color: black; }

.links-contacto {
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: all 1s; }
  .links-contacto:hover {
    color: black; }

.ig {
  width: 4%;
  height: 4%;
  padding: 20px 0; }

.titP {
  font-size: 50px;
  text-align: center;
  color: #E29578;
  background-color: #006D77;
  padding: 20px 0;
  margin-bottom: 15px; }

.nombreProd {
  background-color: #E29578;
  color: #006D77;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px; }

.formato-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E29578;
  color: #006D77;
  font-size: 20px;
  line-height: 30px;
  padding: 40px 20px;
  margin-bottom: 15px;
  text-align: center; }

.error {
  background-image: url(../img/404.jpg);
  background-size: cover;
  color: #E29578;
  min-height: 1000px;
  text-align: center;
  padding-top: 30px; }

.linkError {
  text-decoration: none;
  color: #E29578;
  top: 100px; }
