* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

#inicio {
  text-align: center;
  background-color: #ffffbc;
  margin-bottom: 5px; }

.search-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  max-width: 300px;
  margin: auto; }

.logo {
  width: 50%;
  height: 50%;
  padding: 30px 0; }

.botones {
  display: flex;
  justify-content: space-around; }

.botones2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px; }

.btn-inicio, .btn-nos, .btn-eco, .btn-tips, .btn-recetas, .btn-productos, .btn-contacto {
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all , 1s; }

.btn-inicio {
  background-color: #bec5df; }

.btn-nos {
  background-color: #D1B197; }

.btn-eco {
  background-color: #CDA295; }

.btn-tips {
  background-color: #B38C67; }

.btn-recetas {
  background-color: #ADBEA9; }

.btn-productos {
  background-color: #635B59; }

.btn-contacto {
  background-color: #788B84; }

.btn-inicio:hover, .btn-nos:hover, .btn-eco:hover, .btn-tips:hover, .btn-recetas:hover, .btn-productos:hover, .btn-contacto:hover {
  color: #3f3f3f;
  height: 120px;
  width: 120px;
  font-size: 22px; }

h2 {
  text-align: left;
  font-size: 40px;
  background-color: #635B59;
  color: white;
  padding: 30px 40px;
  margin-bottom: 5px; }

.sellos {
  width: 25%;
  height: 25%;
  transition: all 1s;
  position: relative;
  left: 40%; }
  .sellos:hover {
    transform: scale(1.5); }

.img-prod {
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  min-height: 250px;
  min-width: 250px;
  object-fit: cover; }

.acces-ini, .aroma-ini, .capilar-ini, .piel-ini, .jabones-ini, .hogar-ini, .peines-ini, .perfumes-ini, .bucal-ini {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 30px 10px;
  margin-bottom: 5px;
  justify-content: space-around; }

.acces-ini {
  background-color: #8d8381; }

.aroma-ini {
  background-color: #635B59; }

.capilar-ini {
  background-color: #8d8381; }

.piel-ini {
  background-color: #635B59; }

.jabones-ini {
  background-color: #8d8381; }

.hogar-ini {
  background-color: #635B59; }

.peines-ini {
  background-color: #8d8381; }

.perfumes-ini {
  background-color: #635B59; }

.bucal-ini {
  background-color: #8d8381; }

.tit-subg {
  display: flex;
  justify-content: start;
  background-color: #788B84;
  padding: 5px 0px 5px 22px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 1s; }
  .tit-subg:hover {
    color: #ffffbc; }

.mini-logo {
  width: 50px;
  height: 50px; }

.box-tit {
  display: flex;
  background-color: #635B59; }

.titulo-prod {
  font-size: 50px;
  text-align: left;
  color: white;
  padding: 20px 0;
  padding-left: 30px; }

.logo-pag {
  width: 300px;
  height: 100px;
  transition: all 1s; }
  .logo-pag:hover {
    transform: scale(110%); }

.link-logo {
  text-decoration: none; }

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }

.img-pag {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 15px 10px;
  filter: brightness(70%);
  transition: all 1s; }
  .img-pag:hover {
    filter: brightness(100%);
    transform: scale(130%); }

.img-pag2 {
  width: 200px;
  height: 200px;
  padding: 15px 10px;
  filter: brightness(70%);
  transition: all 1s; }
  .img-pag2:hover {
    filter: brightness(100%);
    transform: scale(130%); }

#quien-soy {
  text-align: center;
  background-color: #D1B197;
  color: white;
  font-size: 25px;
  padding: 30px 20px;
  line-height: 50px;
  font-style: italic; }
  #quien-soy .encQs {
    text-align: center;
    font-size: 50px;
    padding: 40px 0; }

#contacto {
  background-color: #788B84;
  color: white;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.contacto {
  padding: 40px 0;
  font-size: 40px;
  text-align: left; }

.images-small {
  width: 3.5%;
  height: 3.5%; }

.links-contacto {
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: all 1s; }
  .links-contacto:hover {
    color: black; }

.ig {
  width: 4%;
  height: 4%;
  padding: 20px 0; }

.autor {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  transition: all 1s; }
  .autor:hover {
    color: white;
    background-color: black; }

.error {
  background-image: url(../img/404.jpg);
  background-size: cover;
  color: #E29578;
  min-height: 1000px;
  text-align: center;
  padding-top: 30px;
  font-style: oblique;
  font-size: 15px; }

.logo404 {
  width: 15%;
  height: 15%;
  transition: all 1.5s; }
  .logo404:hover {
    transform: scale(1.3);
    filter: brightness(120%); }

@media only screen and (min-width: 401px) and (max-width: 900px) {
  .sellos {
    width: 25%;
    height: 25%; }
    .sellos:hover {
      transform: scale(1.5); }
  h2 {
    font-size: 30px; }
  .img-prod {
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px; }
  .encQs {
    font-size: 25px; }
  #contacto {
    display: flex;
    flex-direction: column;
    line-height: 60px; }
  .img-pag {
    width: 150px;
    height: 150px;
    padding: 10px 8px; }
  .img-pag2 {
    width: 150px;
    height: 150px;
    padding: 10px 8px; }
  .titulo-prod {
    font-size: 35px;
    padding: 10px 10px; }
  .logo-pag {
    width: 180px;
    height: 60px; } }

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .sellos {
    width: 35%;
    height: 35%;
    left: 20%; }
    .sellos:hover {
      transform: scale(1.5); }
  h2 {
    font-size: 25px; }
  .search-box {
    max-width: 250px; }
  .botones {
    display: flex;
    justify-content: space-around; }
  .botones2 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px; }
  .btn-inicio,
  .btn-nos,
  .btn-eco,
  .btn-tips,
  .btn-recetas,
  .btn-productos,
  .btn-contacto {
    width: 80px;
    height: 80px;
    font-size: 15px; }
  .img-prod {
    max-width: 130px;
    max-height: 130px;
    min-width: 130px;
    min-height: 130px; }
  .tit-subg {
    font-size: 20px;
    padding: 0; }
  .mini-logo {
    width: 30px;
    height: 30px; }
  #quien-soy {
    font-size: 15px;
    line-height: 15px; }
  .encQs {
    font-size: 20px; }
  #contacto {
    display: flex;
    flex-direction: column; }
  .contacto {
    padding: 0;
    font-size: 20px; }
  .ig {
    width: 4%;
    height: 4%;
    padding: 10px 0; }
  .links-contacto {
    font-size: 15px; }
  .titulo-prod {
    font-size: 30px;
    padding: 8px 5px; } }

@media only screen and (max-width: 400px) {
  .sellos {
    width: 30%;
    height: 30%;
    left: 15%; }
    .sellos:hover {
      transform: scale(1.8); }
  h2 {
    font-size: 20px;
    padding: 20px 10px; }
  .search-box {
    max-width: 150px; }
  .btn-inicio,
  .btn-nos,
  .btn-eco,
  .btn-tips,
  .btn-recetas,
  .btn-productos,
  .btn-contacto {
    width: 50px;
    height: 50px;
    font-size: 10px; }
  .img-prod {
    max-width: 85px;
    max-height: 85px;
    min-width: 85px;
    min-height: 85px; }
  .tit-subg {
    font-size: 12px;
    padding: 0; }
  .mini-logo {
    width: 18px;
    height: 18px; }
  #quien-soy {
    font-size: 12px;
    line-height: 15px; }
  .encQs {
    font-size: 25px; }
  #contacto {
    display: flex;
    flex-direction: column; }
  .contacto {
    padding: 0;
    font-size: 15px;
    text-align: left; }
  .links-contacto {
    font-size: 12px; }
  .ig {
    width: 4%;
    height: 4%;
    padding: 0; }
  .autor {
    font-size: 8px; }
  .img-pag {
    width: 80px;
    height: 80px;
    padding: 8px 5px; }
  .img-pag2 {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    padding: 8px 5px; }
  .titulo-prod {
    font-size: 20px;
    padding: 8px 5px; }
  .logo-pag {
    width: 120px;
    height: 40px; } }
