//responsive tablet//
@media only screen and (min-width: 401px) and (max-width: 960px) {
  
    #accesIni {
        padding: 40px 100px;
    }

    #aromaIni {
        padding: 40px 100px;
    }

    #balsaIni {
        padding: 40px 100px;
    }

    #quienesSomos {
        font-size: 35px;
        line-height: 45px;
        padding-top: 15px;
        background-size: 100%;
    }

    .seguinos {
        font-size: 25px /2;
        padding: 20px 0;
    }

    .imagesSm {
        width: 9%;
        height: 9%;
    }

    .ig {
        width: 10%;
        height: 10%;
    }

    .sellos {
        width: 100%;
        height: 100%;
    }

    .inicioVolverComprarIg {
        font-size: 40px;
    }
    .grupoProd {
        font-size: 30px;
    }
    .linksMenu{
        font-size: 20px
    }
    .bienvenida {
        font-size: 40px;
    }
}

//responsive mobile //
@media only screen and (max-width: 400px) {
     .bienvenida {
        font-size: 30px;
    }

    .menuContainer li {
        font-size: 18px;
        padding: 25px 0;
    }
    .menuContainer li:hover ul{
        display: inline-block;
        align-items: flex-end;
        right: 10px;
    }
    .menuContainer li ul li {
        font-size: 14px;
    }

    .linksMenu {
        font-size: 16px;
    }

    #productos h2 {
        font-size: 20px;
        padding: 20px 0;
    }

    .titProd {
        font-size: 20px;
    }

    #accesIni {
        padding: 20px 50px;
        max-height: 400px;
    }

    #aromaIni {
        padding: 20px 50px;
        max-height: 400px;
    }

    #balsaIni {
        padding: 20px 50px;
        max-height: 400px;
    }

    .grupoProd {
        font-size: 20px;
    }

    #quienesSomos {
        font-size: 15px;
        line-height: 20px;
        padding-top: 15px;
        background-size: 100%;
        .encQs {
            font-size: 20px;
            padding: 10px 0;
        }
    }

    #links .seguinos {
        font-size: 40px;
        padding: 20px 0;
    }

    .imagesSm {
        width: 10%;
        height: 10%;
    }

    .ig {
        width: 12%;
        height: 12%;
    }

    .sellos {
        width: 100%;
        height: 100%;
    }

    h4 {
        font-size: 20px;
    }

    .msj-email {
        font-size: 15px;
    }

    .boton {
        font-size: 15px;
    }

    .inicioVolverComprarIg2 {
        font-size: 20px;
    }
    .menuContainer {
        display: block;
        li{
            border-bottom: 1px solid white;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}