//responsive tablet//
@media only screen and (min-width: 401px) and (max-width: 900px) {

    .sellos {
        width: 40%;
        height: 40%;
        left: 25%;
    }
    

    .productos {
        font-size: 30px;
    }

    //Botones con links//

    .btn-inicio,
    .btn-nos,
    .btn-eco,
    .btn-tips,
    .btn-recetas,
    .btn-productos,
    .btn-contacto {
        width: 90px;
        height: 90px;
        font-size: 18px;
    }

    .img-prod {
        max-width: 180px;
        max-height: 180px;
        min-width: 180px;
        min-height: 180px;
    }

    .encQs {
        font-size: 35px;
    }

    #contacto {
        display: flex;
        flex-direction: column;
        line-height: 60px;
    }

    //Galería//
    .img-pag {
        width: 150px;
        height: 150px;
        padding: 10px 8px;
    }

    .img-pag2 {
        width: 150px;
        height: 150px;
        padding: 10px 8px;
    }

    .titulo-prod {
        font-size: 35px;
        padding: 10px 15px;
    }

    .logo-pag {
        width: 180px;
        height: 60px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {

    .productos {
        font-size: 25px;
    }

    //Disposición botones//
    .botones {
        display: flex;
        justify-content: space-around;
    }

    .botones2 {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }

    //Botones con links//

    .btn-inicio,
    .btn-nos,
    .btn-eco,
    .btn-tips,
    .btn-recetas,
    .btn-productos,
    .btn-contacto {
        width: 80px;
        height: 80px;
        font-size: 15px;
    }

    //Redondeo de imágenes//
    .img-prod {
        max-width: 130px;
        max-height: 130px;
        min-width: 130px;
        min-height: 130px;
    }

    //títulos sub-grupos//
    .tit-subg {
        font-size: 20px;
        padding: 0;
    }

    .mini-logo {
        width: 30px;
        height: 30px;
    }

    #quien-soy {
        font-size: 15px;
        line-height: 15px;
        .encQs {
            font-size: 40px;
            padding: 15px 0;
        }
    
    }

   
    //Contacto//
    #contacto {
        display: flex;
        flex-direction: column;

    }

    .contacto {
        padding: 0;
        font-size: 20px;
    }

    .ig {
        width: 4%;
        height: 4%;
        padding: 10px 0;
    }

    .links-contacto {
        font-size: 15px;
    }

    //Galería//
    .titulo-prod {
        font-size: 30px;
        padding: 8px 10px;
    }
}

//responsive mobile //
@media only screen and (max-width: 400px) {

    .sellos {
        width: 40%;
        height: 40%;
        left: 15%;
    }
    
    .productos {
        font-size: 20px;
        padding: 20px 10px;
    }

    .btn-inicio,
    .btn-nos,
    .btn-eco,
    .btn-tips,
    .btn-recetas,
    .btn-productos,
    .btn-contacto {
        width: 50px;
        height: 50px;
        font-size: 10px;
    }

    //Redondeo de imágenes//
    .img-prod {
        max-width: 85px;
        max-height: 85px;
        min-width: 85px;
        min-height: 85px;
    }

    //títulos sub-grupos//
    .tit-subg {
        font-size: 12px;
        padding: 0;
    }

    .mini-logo {
        width: 18px;
        height: 18px;
    }

    #quien-soy {
        font-size: 12px;
        line-height: 15px;
        padding: 10px;
        .encQs {
            font-size: 20px;
            padding: 10px;
        }
    }

    //Contacto//
    #contacto {
        display: flex;
        flex-direction: column;
    }

    .contacto {
        padding: 0;
        font-size: 15px;
        text-align: left;
    }

    .links-contacto {
        font-size: 12px;
    }

    .ig {
        width: 4%;
        height: 4%;
        padding: 0;
    }

    .autor {
        font-size: 8px;
    }

    //Galería//

    .box-tit {
        align-items: center;
    }

    .img-pag {
        width: 80px;
        height: 80px;
        padding: 8px 5px;
    }

    .img-pag2 {
        width: 80px;
        height: 80px;
        padding: 8px 5px;
    }

    .titulo-prod {
        font-size: 20px;
        padding: 8px 8px;
    }

    .logo-pag {
        width: 120px;
        height: 40px;
        display: block;
    }
}