//reseteo de margenes y relleno//
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

//fuente//
body {
    font-family: 'Montserrat', sans-serif;
}

@import "secciones/inicio";
@import "secciones/productos-inicio";
@import "secciones/productos-pagina";
@import "secciones/quien-soy";
@import "secciones/contacto";
@import "secciones/error";
@import "queries";


