#aromaIni {
    max-height: 800px;
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
        "gAroma gAroma"
        "img4 img5"
        "img6 img7";

    .gAroma {
        grid-area: gAroma;
    }

    .img4 {
        grid-area: img4;
    }

    .img4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 50px;
    }

    .img5 {
        grid-area: img5;
    }

    .img5 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 50px;
    }

    .img6 {
        grid-area: img6;
    }

    .img6 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 50px;
    }

    .img7 {
        grid-area: img7;
    }

    .img7 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-right-radius: 50px;
    }


}