#balsaIni {
    max-height: 800px;
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
        "gBalsa gBalsa"
        "img8 img9"
        "img8 img10";

    .gBalsa {
        grid-area: gBalsa;
    }

    .img8 {
        grid-area: img8;
    }

    .img8 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .img9 {
        grid-area: img9;
    }

    .img9 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 50px;
    }

    .img10 {
        grid-area: img10;
    }

    .img10 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-right-radius: 50px;
    }

}