#inicio {
    text-align: center;
    background-color: rgb(255, 255, 188);
    margin-bottom: 5px;
}

.logo {
    width: 50%;
    height: 50%;
    padding: 30px 0;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.botones2 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
//Extend//

%botones {
    text-decoration: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

//Botones con links//

.btn-inicio {
    @extend %botones;
    background-color: #bec5df;
    transition: all 1s;
}

.btn-nos {
    @extend %botones;
    background-color: #D1B197;
    transition: all 1s;
}


.btn-eco {
    @extend %botones;
    background-color: #CDA295;
    transition: all 1s;
}

.btn-tips {
    @extend %botones;
    background-color: #B38C67;
    transition: all 1s;
}

.btn-recetas {
    @extend %botones;
    background-color: #ADBEA9;
    transition: all 1s;
}

.btn-productos {
    @extend %botones;
    background-color: #635B59;
    transition: all 1s;
}

.btn-contacto {
    @extend %botones;
    background-color: #788B84;
    transition: all 1s;
}

//Botones al pasar el cursor//
.btn-inicio:hover, .btn-nos:hover, .btn-eco:hover, .btn-tips:hover, .btn-recetas:hover, .btn-productos:hover, .btn-contacto:hover {
    color: rgb(63, 63, 63);
    width: 120px;
    height: 120px;
}
.search-box {
    position: absolute;
    padding-top: 10px;
    padding-right: 10px;
    max-width: 300px;
}