//Títulos grupos de productos//

.titulo-prod {
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #635B59;
    padding: 20px 0;
    margin-bottom: 5px;
}

//Galería de imágenes//

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

//Formato imágenes en galería//

.img-pag {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    padding: 15px 10px;
    filter: brightness(70%);
    transition: all 1s;
    &:hover {
        filter: brightness(100%);
        transform: scale(130%);
    }
}

.img-pag2 {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: none;
    padding: 15px 10px;
    filter: brightness(70%);
    transition: all 1s;
    &:hover {
        filter: brightness(100%);
        transform: scale(130%);
    }
}