//Títulos grupos de productos//

.box-tit {
    display: flex;
    background-color: #635B59;
    justify-content: start;
}
.titulo-prod {
    font-size: 50px;
    text-align: left;
    color: white;
    padding: 20px 0;
    padding-left: 30px;
}

.logo-pag {
    width: 300px;
    height: 100px;
    transition: all 1s;
    justify-items: end;
    &:hover {
        transform: scale(110%);
        filter: brightness(120%);
    }
}

.link-logo {
    text-decoration: none;
    }

//Galería de imágenes//

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

//Formato imágenes en galería//

.img-pag {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    
    filter: brightness(70%);
    transition: all 1s;
    &:hover {
        filter: brightness(100%);
        transform: scale(130%);
    }
}

.img-pag2 {
    width: 200px;
    height: 200px;
    padding: 10px;
    filter: brightness(70%);
    transition: all 1s;
    &:hover {
        filter: brightness(100%);
        transform: scale(130%);
    }
}