 //encabezado productos//
 h2 {
     text-align: left;
     font-size: 40px;
     background-color: #635B59;
     color: white;
     padding: 30px 40px;
     margin-bottom: 5px;
 }

 //info legal//
 .sellos {
     width: 25%;
     height: 25%;
     transition: all 1s;
     position: relative;
     left: 40%;

     &:hover {
         transform: scale(1.5);
     }
 }

 //Redondeo de imágenes//
 .img-prod {
     border-radius: 50%;
     max-height: 250px;
     max-width: 250px;
     min-height: 250px;
     min-width: 250px;
     object-fit: cover;
 }

 //formato sub-grupo de productos con extend//
 %formato-subg {
     display: flex;
     flex-wrap: wrap;
     align-content: flex-start;
     padding: 30px 10px;
     margin-bottom: 5px;
     justify-content: space-around;
 }

 .acces-ini {
     @extend %formato-subg;
     background-color: #8d8381;
 }

 .aroma-ini {
     @extend %formato-subg;
     background-color: #635B59;
 }

 .capilar-ini {
     @extend %formato-subg;
     background-color: #8d8381;
 }

 .piel-ini {
     @extend %formato-subg;
     background-color: #635B59;
 }

 .jabones-ini {
    @extend %formato-subg;
    background-color: #8d8381;
}

.hogar-ini {
    @extend %formato-subg;
    background-color: #635B59;
}
.peines-ini {
    @extend %formato-subg;
    background-color: #8d8381;
}

.perfumes-ini {
    @extend %formato-subg;
    background-color: #635B59;
}

.bucal-ini {
    @extend %formato-subg;
    background-color: #8d8381;
}
 //títulos sub-grupos//
 .tit-subg {
     display: flex;
     justify-content: space-evenly;
     background-color: black;
     color: white;
     text-decoration: none;
     font-size: 30px;
     transition: all 1s;
     &:hover {
        color: #b4b4b4;
     }
 }
 
 //botón signo mas//
 .btn-mas {
     text-decoration: none;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-bottom: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
     font-size: 40px;
     color: black;
     transition: all 1s;

     &:hover {
         color: white;
         background-color: black;
     }
 }