// formato seccion links//
#contacto {
    background-color: #788B84;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.contacto {
    padding: 40px 0;
    font-size: 40px;
    text-align: left;
}

.images-small {
    width: 3.5%;
    height: 3.5%;
}