// formato seccion contacto//

#contacto {
    background-color: #788B84;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacto {
    padding: 40px 0;
    font-size: 40px;
    text-align: left;
}

.images-small {
    width: 3.5%;
    height: 3.5%;
}

.links-contacto {
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: all 1s;
    &:hover {
        color: black;
    }
}

//icono instgram//

.ig {
    width: 4%;
    height: 4%;
    padding: 20px 0;
}

.autor {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    transition: all 1s;
    &:hover {
        color: white;
        background-color: black;
    }
}

