//variables//
$color-links-iconos: white;
$color-links-iconos2: white;

//mixin//
@mixin icons-text ($font-size, $text-decoration, $color) {
    font-size: $font-size;
    text-decoration: $text-decoration;
    color: $color;
}


//texto iconos inicio//
.inicioVolverComprarIg {
    @include icons-text(25px, none, $color-links-iconos)
}

//texto iconos en las diferentes páginas de productos//
.inicioVolverComprarIg2 {
    @include icons-text(25px, none, $color-links-iconos2);
    padding: 20px 0;
}

//icono instgram//
.ig {
    width: 4%;
    height: 4%;
    padding: 20px 0;
}

//links volver comprar en las pánias de productos//
.inicioVolverComprarIg:hover {
    color: darken($color-links-iconos, $amount: 20%)
}


//iconos al pasar el cursor encima//
.inicioVolverComprarIg2:hover {
    color: darken($color-links-iconos2, $amount: 20%)
}

//formato links//
.linksMenu {
    @include icons-text(32px, none, $color-links-iconos);
    padding: 5px auto;
}

.linksMenu:hover {
    color: darken($color-links-iconos, 20%)
}

//links grupos de productos//
.grupoProd {
    @include icons-text(30px, none, $color-links-iconos);
    text-align: center;
}

//links grupos de productos al pasar el cursor//
.grupoProd:hover {
    color: darken($color-links-iconos, 20%); 
}
