//mapa//
$mapa: (
    big:100%,
    med:50%,
    sm:3%,
);


//imágenes grandes//
.imagesBig {
    width: map-get($mapa, big);
    height: map-get($mapa, big);
}

//imágenes medianas//
.imagesMed {
    width: map-get($mapa, med);
    height: map-get($mapa, med);
    max-height: 600px;
}



//imágenes pequeñas//
.imagesSm {
    width: map-get($mapa, sm);
    height: map-get($mapa, sm);
    padding: 20px 0px;
}

//info legal//
.sellos {
    display: block;
    width: 35%;
    height: 35%;
    padding: 20px 0px;
    transition: all 1s;
}

//info legal al pasar el cursor//
.sellos:hover {
    transform: scale(1.5);
}